<nav>
    <h1 class="heading">hello</h1>
    <hr>
    <ul class="list">
        <li class="litem"><a href="/">
                Main
            </a></li>
        <li class="litem"><a href="/about">
                About
            </a>
        <li class="litem"><a href="/something">Somethingy ree</a></li>
        </li>
        <li class="litem"><a href="/create">Create something</a></li>
    </ul>
    <div class="cont">
    <p>This is the main page</p>
    <h1>hwllo main page</h1>
    <div>
    <h2>All blogs here</h2>
    </div>
</nav>