<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
    <style>
        h1{
            margin-left: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1>This is about page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut soluta quam sapiente vel, molestias velit commodi impedit quo dolore ratione?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti temporibus provident ut corporis ipsam ducimus, sed modi porro error, fugit qui iusto? Fugit amet voluptatibus eius nam voluptatum, repudiandae iure nulla vitae, quibusdam eligendi ipsum sequi animi dicta vel rerum molestiae nesciunt. Commodi eum possimus quaerat excepturi, quae libero odio?
    </p>
</body>

</html>